.footer{
    background-color: rgba(188, 201, 204, 0.2);
}
/* .container-info{
    margin: 1.5em 3em 0em 0em;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: end;
}*/
.list-info{
    /* margin: 0em 1.1em; */
    list-style: none;
}
/* .item{
    font-size: 0.8em;
    line-height: 1.8em;
}  */
.email-footer{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    font-size: 1em;
}
.far{
    margin-right: 0.5em;
    color: #CD1F13;
}
@media (max-width: 414px){
   .footer{
       display: flex;
       flex-direction: row;
       align-content: space-between;
       justify-content: center;
       width: 99vw;
   }
   .email-footer{
       /* margin-top: 0.8em; */
       margin-left: 1em;
       font-size: 0.8em;
   }
    .container-info{
        padding: 0em 1em;
        display: grid;
        grid-template-rows: auto auto;
        justify-items: center;
    }
    .box-info{
        width: 80%;
        word-wrap: break-word;
    }
    .item{
        font-size: 0.8em;
        line-height: 1em;
    }
}