<div class="footer">
    <div class="email-footer">
        <div>
            <i class="far fa-envelope"></i>
        </div>
        <p>Dieditores@gmail.com</p>
    </div>
    <div class="container-info">
        <div class="box-info">
            <h3  class="list-title">Servicios</h3>
            <div class="list-info">
                <p class="item">Diseño editorial</p>
                <p class="item">Corrección de estilo </p>
                <p class="item">Edición para todo tipo de publicaciones y formatos</p>
            </div>
        </div>
        <div class="box-info">
            <h3 class="list-title">Miembros</h3>
            <div class="list-info">
                <p class="item">Hermis Rodríguez Botier</p>
                <p class="item">María Carla Picón Chaparro </p>
            </div>
        </div>
    </div>
</div>