header{
    width: 99vw;
    margin: 0em;
    position: fixed;
    top: 0em;
    right: 0em;
    background-color: #fff;
    box-shadow: 0em 0em 0.04em 0em rgb(139, 141, 141);
}
.nav-bar{
    padding: 0em 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.nav-bar img{
    width: 10%;
    background-attachment: fixed;
    background-size: cover;
}
.list{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
}
.item-list{
    margin-left: 1.2em;
    font-size: 0.8em;
    list-style: none;
}
.item-list a{
    text-decoration: none;
    color: #000000;
}
.item-list a:hover{
    color: #CD1F13;
    cursor: pointer;
}
.home-container{
    margin: 5em 0em;
    display: grid;
    grid-template-columns: 75%;
    justify-content: center;
}
.title-about{
    margin-bottom: 1em;
    font-size: 2em;
}
.menu{
    display: none;
    color: #CD1F13;
    cursor: pointer;
}
@media (max-width: 414px){

    header{
        width: 100vw;
        position: fixed;
        background-color: #fff;
    }
    .nav-bar{
        padding: 1em 0em;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
    }
    .nav-bar i{
        margin-right: 0.7em;
    }
    .nav-bar img{
        width: 35%;
        margin-left: auto;
        margin-right: auto;
        background-attachment: fixed;
        background-size: cover;
    }
    .menu{
        display: block;
        font-size: 1.4em;
    }
    .nav-list{
        display: none;
    }
    .home-container{
        padding: 5em 0em;
        grid-template-columns: auto;
    }
    .about-container{
        margin:  0em auto;
        padding: 1em;
    }
    .about{
        font-size: 1em;
        text-align: justify;
    }
}

