<header>
  <nav class="nav-bar">
      <!-- <img src="../assets/DiEditoresIMG/LogoDiEditores.jpg" alt="logo" id="log"> -->
      <img src="../assets/DiEditoresIMG/Logo-Maria-y-Hermis.png" alt="logo" id="logo" class="logo">
    <div class="nav-list">
      <ul class="list">
        <li class="item-list"><a href="#">Home</a></li>
        <li class="item-list"><a href="#">Acerca</a></li>
        <li class="item-list"><a href="#">Proyectos</a></li>
        <li class="item-list"><a href="#">Contacto</a></li>
      </ul>
    </div>
    <i class="fas fa-bars menu"></i>
  </nav>
</header>
<section>
  <div class="home-container">
    <div class="about-container">
      <h3 class="title-about">¿Quienes somos?</h3>
      <p class="about">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui ipsam aspernatur quaerat facilis nobis eaque quae, beatae ea dolore, dignissimos molestias sed? Placeat autem omnis expedita pariatur, fugiat sunt quia ullam, perspiciatis temporibus nemo beatae iste velit laudantium? Voluptatum consequuntur inventore perferendis iusto accusamus molestiae tempora quasi mollitia ratione tempore molestias ullam totam, est animi placeat eligendi architecto unde asperiores enim. Aut possimus eius iure illum consectetur nulla praesentium eligendi repellendus consequatur, minima distinctio. Omnis quibusdam numquam repellendus rerum, porro accusamus quam similique eligendi reprehenderit est dicta pariatur quisquam quis error reiciendis veniam at tempora alias. Ullam repellendus labore dolorem.!
      </p>
    </div>
  </div>
</section>
<section>
  <member></member>
</section>
<footer></footer>