/* You can add global styles to this file, and also import other style files */
body{
    margin: 0em;
    padding: 0em;
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body::-webkit-scrollbar{
    width: 0.4em;
}
body::-webkit-scrollbar-thumb{
    background-color: #CD1F13;
    border-radius: 0.9em;
}
body::-webkit-scrollbar-thumb:hover{
    background-color: #b30000;
}
